	<div class = "flexContainer"  >
		<div class="firstRow" fxFlex = "10%" fxFlex.xs ="30px">


           <!--   <span nglDropdown [(open)]="open">
        <button class="slds-button slds-button--neutral" nglDropdownTrigger>
          <span class="slds-truncate">Select an item</span>
          <ngl-icon icon="down" type="default" size="x-small"></ngl-icon>
        </button>
        <div class="slds-dropdown slds-dropdown--left">
          <ul class="dropdown__list" role="menu">
            <li class="slds-dropdown__item" *ngFor="let item of items;">
              <a role="menuitem" nglDropdownItem (click)="selected = item.value; open = false; onVoted($event) ">
                <p class="slds-truncate">{{item.name}}</p>
                
              </a>
            </li>
          </ul>
        </div>
      </span>-->

      <!--a class="classButton" (click)="getSpells()" >Cleric</a-->
      <!--<md-button  type="button" nglButton="neutral" style="margin-left: 0px;" (click)="open = !open;onClickToggle($event);getSpells()" >Cleric</md-button>-->

    
    <img  src = {{imagePath}} fxFlex="25%" (click)="getSpells()" >
    </div>
	
		<div class="secondRow" fxFlex = "20%" fxFlex.xs ="100px">

      <table class="table table-hover">
        <thead>
        <tr>
            <th>Spell Name</th>
           
        </tr>
    </thead>
   
        <tbody>
        <tr *ngFor="let spell of spells; let i = index" (click)="setClickedRow(i); selectedSpell = spell.description;" [class.active]="i == selectedRow">
         
        <td>{{spell.name}} </td>
          </tr>
        </tbody>
        
      </table>


    </div>

      	<div class="thirdRow" fxFlex = "60%">
            <h3> Descriptor pane here </h3>
            <h3> {{selectedSpell}} </h3>
      	</div>

	</div>




